[run]
source = src
parallel = true

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    if TYPE_CHECKING:

fail_under = 95
show_missing = true
skip_covered = true

[html]
directory = coverage/html
title = Trading Bot Test Coverage Report
